.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .fitness-exercise {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img {
    animation: move 1s ease-in-out infinite alternate;
  }
  
  @keyframes move {
    from { transform: translateY(0); }
    to { transform: translateY(-10px); }
  }
  